[Unit]
Description=Folo
After=syslog.target

[Service]
Type=simple
User=pi
Group=pi
WorkingDirectory=/tmp
ExecStart=/bin/sh -c 'python3 /home/pi/pi/folo.py'
ExecStop=/bin/kill -SIGTERM $MAINPID
ExecReload=/bin/kill -SIGTERM $MAINPID && /bin/sh -c 'python3 /home/pi/pi/folo.py'
Restart=no
# Restart = always

[Install]
WantedBy = multi-user.target
