[Unit]
Description=Momo
After=syslog.target

[Service]
Type=simple
User=pi
Group=pi
WorkingDirectory=/home/pi/momo
ExecStart=/bin/bash -c /home/pi/momo/momo.start.sh
ExecStop=/bin/kill -SIGTERM $MAINPID
ExecReload=/bin/kill -SIGTERM $MAINPID && /bin/bash -c /home/pi/momo/momo.start.sh
Restart=no
# Restart = always

[Install]
WantedBy = multi-user.target
