var config = {
    "codec": "H264", // "H264" | "VP8" | "VP9"
    "target": "ws://127.0.0.1:8000/ws", // momo が起動している URL
    "controller": "http://127.0.0.1:5000", // folo.py
    "xscale": 0.95 * (480.0 / 640), // カメラ画像のテクスチャのしめる幅 (0~1)
    "yscale": 0.95, // カメラ画像のテクスチャのしめる高さ (0~1)
    "xofs": 0, // カメラの中心からの x 軸のずれ (-0.5~0.5)
    "yofs": 0, // カメラの中心からの y 軸のずれ (-0.5~0.5)
};
